docs/n8n/workflows/_error-workflow.json
{
  "name": "SWFL — Error workflow (Slack alert)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 320],
      "parameters": {}
    },
    {
      "id": "shape",
      "name": "Build Slack payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// $execution shape on the error trigger carries the failed workflow + node\n// + error message. Format as a compact Slack block-kit payload.\nconst err  = items[0]?.json?.execution?.error ?? items[0]?.json?.error ?? {};\nconst wf   = items[0]?.json?.workflow ?? {};\nconst node = err.node?.name ?? err.lastNodeExecuted ?? 'unknown';\nconst msg  = err.message ?? String(err);\nconst execUrl = items[0]?.json?.execution?.url ?? null;\nconst text = `:rotating_light: *SWFL n8n flow failed*\\n• Workflow: \\`${wf.name ?? wf.id ?? 'unknown'}\\`\\n• Failing node: \\`${node}\\`\\n• Error: ${msg}` + (execUrl ? `\\n• Execution: ${execUrl}` : '');\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "post",
      "name": "POST Slack incoming webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 320],
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE/WITH/YOUR_INCOMING_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Build Slack payload", "type": "main", "index": 0 }]]
    },
    "Build Slack payload": {
      "main": [
        [{ "node": "POST Slack incoming webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "_plan": "docs/superpowers/plans/2026-05-25-firecrawl-pipeline-skeleton/README.md (Part 1, step 4 — Error workflow)",
    "_authoring_note": "Draft. Pre-flight: (1) Replace the Slack webhook URL in 'POST Slack incoming webhook' with the value from your Slack admin. (2) After import, wire this workflow in Settings → Error Workflow so the four other flows route their throws here. Without this wiring, validation throws in the MarketBeat / news / county flows will die silently in n8n's execution log. (3) Optional alternative: swap the HTTP node for n8n's native Slack node if you have a Slack credential set up there."
  }
}
