docs/n8n/workflows/corridor-narratives-quarterly.json
{
  "name": "SWFL — Corridor broker narratives quarterly (Flow 3)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Quarterly Cron (Jan/Apr/Jul/Oct day 2, 13 UTC = 9 AM ET)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 320],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 13 2 1,4,7,10 *"
            }
          ]
        }
      }
    },
    {
      "id": "sources",
      "name": "Emit broker source URLs (one item each)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Broker market-report landing pages. Add/remove sources here — each one\n// becomes a separate Firecrawl Agent call so credit usage is explicit and\n// a single bad page can't poison the whole batch.\nconst sources = [\n  { broker: 'CRE Consultants',                url: 'https://www.creconsultants.com/research/' },\n  { broker: 'LSI Companies',                  url: 'https://lsicompanies.com/market-reports/' },\n  { broker: 'Investment Properties Corp',     url: 'https://ipcswfl.com/research/' },\n  { broker: 'SVN Commercial Partners SWFL',   url: 'https://svnswfl.com/market-reports' }\n];\nreturn sources.map(s => ({ json: s }));"
      }
    },
    {
      "id": "agent",
      "name": "Firecrawl Agent — per broker page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\"{{ $json.url }}\"],\n  \"strictConstrainToURLs\": true,\n  \"prompt\": \"Extract per-corridor broker positioning for Southwest Florida commercial real estate. For each corridor named in the report, return: corridor_name (exactly as the broker names it), market_positioning (the broker's framing of where this corridor sits in the market today, 1-3 sentences), dominant_tenant_types (1 short clause), development_pipeline_notes (any active development, deliveries, or expirations mentioned). Quarter should be the reporting quarter formatted YYYY-QN. Use null for any field the report does not cover — never invent.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"rows\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\"corridor_name\", \"quarter\"],\n          \"properties\": {\n            \"corridor_name\":              { \"type\": \"string\" },\n            \"quarter\":                    { \"type\": \"string\", \"pattern\": \"^\\\\d{4}-Q[1-4]$\" },\n            \"market_positioning\":         { \"type\": [\"string\", \"null\"] },\n            \"dominant_tenant_types\":      { \"type\": [\"string\", \"null\"] },\n            \"development_pipeline_notes\": { \"type\": [\"string\", \"null\"] }\n          }\n        }\n      }\n    }\n  },\n  \"model\": \"spark-1-mini\",\n  \"maxCredits\": 750\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_FIRECRAWL_CRED_ID",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "id": "normalize",
      "name": "Explode + alias-normalize corridor_name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Alias table maps broker shorthand → canonical corridor_profiles.corridor_name.\n// Per the firecrawl-pipeline-skeleton plan, the canonical alias table lives\n// alongside the corridor pipeline; this is the embedded starter copy. KEEP\n// IN SYNC with the corridor pipeline's alias table — when you add a corridor\n// alias there, mirror it here, or the broker narrative will silently drop.\nconst ALIASES = {\n  // exact name → canonical\n  \"Immokalee Road\":                       \"Immokalee Rd North Naples\",\n  \"Immokalee Rd\":                         \"Immokalee Rd North Naples\",\n  \"US-41 / Cleveland\":                    \"US-41 / Cleveland Ave Fort Myers\",\n  \"US 41 Cleveland\":                      \"US-41 / Cleveland Ave Fort Myers\",\n  \"Tamiami Trail North Naples\":           \"Airport-Pulling North Naples\",\n  \"Tamiami Trail Naples\":                 \"Airport-Pulling Naples\",\n  \"Daniels Pkwy\":                         \"Daniels Parkway Fort Myers\",\n  \"Daniels Parkway\":                      \"Daniels Parkway Fort Myers\"\n  // Add more aliases as the broker corpus expands.\n};\nfunction normalize(name) {\n  if (!name) return null;\n  const trimmed = String(name).trim();\n  return ALIASES[trimmed] ?? trimmed;\n}\nconst out = [];\nfor (const item of items) {\n  const sourceUrl = item.json?.url ?? null;\n  const broker    = item.json?.broker ?? null;\n  const root      = item.json?.data?.result ?? item.json?.result ?? item.json;\n  const rows      = Array.isArray(root?.rows) ? root.rows : [];\n  for (const r of rows) {\n    const canonical = normalize(r.corridor_name);\n    if (!canonical) continue;\n    out.push({\n      json: {\n        corridor_name_canonical: canonical,\n        corridor_name_raw:       r.corridor_name,\n        source_url:              sourceUrl,\n        source_broker:           broker,\n        narrative: {\n          quarter:                    r.quarter,\n          market_positioning:         r.market_positioning ?? null,\n          dominant_tenant_types:      r.dominant_tenant_types ?? null,\n          development_pipeline_notes: r.development_pipeline_notes ?? null\n        }\n      }\n    });\n  }\n}\nif (out.length === 0) {\n  throw new Error('Flow 3: Firecrawl Agent returned zero rows across all broker pages — investigate before silently passing.');\n}\nreturn out;"
      }
    },
    {
      "id": "update",
      "name": "Postgres UPDATE corridor_profiles.character_broker_narrative",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1380, 320],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE corridor_profiles SET character_broker_narrative = $1::jsonb WHERE corridor_name = $2 AND deleted_at IS NULL AND verification_status = 'verified' RETURNING corridor_name;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.narrative) }},{{ $json.corridor_name_canonical }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_PG_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "id": "audit",
      "name": "Audit unmatched corridors (do not throw)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Postgres UPDATE returns the matched corridor_name; if a row didn't match,\n// the previous node emitted an empty result. Log unmatched corridors so the\n// alias table can be grown next quarter — but DON'T throw, partial coverage\n// is the steady state.\nconst out = [];\nfor (const item of items) {\n  const updated = item.json?.corridor_name;\n  if (updated) {\n    out.push({ json: { status: 'updated', corridor_name: updated } });\n  } else {\n    out.push({ json: { status: 'unmatched', raw: item.json } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch daily-rebuild.yml (cre-swfl)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1940, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ethanrickyjrjr-wq/brain-platform/actions/workflows/daily-rebuild.yml/dispatches",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"pack_id\": \"cre-swfl\",\n    \"force\": \"false\"\n  }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_GITHUB_PAT_CRED_ID",
          "name": "GitHub PAT (workflow scope)"
        }
      }
    }
  ],
  "connections": {
    "Quarterly Cron (Jan/Apr/Jul/Oct day 2, 13 UTC = 9 AM ET)": {
      "main": [
        [
          {
            "node": "Emit broker source URLs (one item each)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit broker source URLs (one item each)": {
      "main": [
        [
          {
            "node": "Firecrawl Agent — per broker page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Agent — per broker page": {
      "main": [
        [
          {
            "node": "Explode + alias-normalize corridor_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode + alias-normalize corridor_name": {
      "main": [
        [
          {
            "node": "Postgres UPDATE corridor_profiles.character_broker_narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres UPDATE corridor_profiles.character_broker_narrative": {
      "main": [
        [
          {
            "node": "Audit unmatched corridors (do not throw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit unmatched corridors (do not throw)": {
      "main": [
        [
          {
            "node": "Dispatch daily-rebuild.yml (cre-swfl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "_plan": "docs/superpowers/plans/2026-05-25-firecrawl-pipeline-skeleton/README.md (Part 3 + Part 6b consumer)",
    "_authoring_note": "Draft. Pre-flight: (1) The alias table in the 'Explode + alias-normalize' Code node is a STARTER — add corridor aliases as you observe broker shorthand drift. (2) The Postgres UPDATE never INSERTs new corridor_profiles rows — broker narratives for corridors not in the table are silently dropped, surfaced in the audit step. (3) Run a diff query after the first trigger: SELECT corridor_name, character, character_broker_narrative FROM corridor_profiles WHERE character_broker_narrative IS NOT NULL — confirm `character` TEXT column is untouched (hand-authored content must not be overwritten)."
  }
}
