docs/n8n/workflows/county-pdfs-monthly.json
{
  "name": "SWFL — County planning monthly (Flow 5, Tier 1 cold storage)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Monthly Cron (3rd of month, 14 UTC = 10 AM ET)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 320],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 14 3 * *"
            }
          ]
        }
      }
    },
    {
      "id": "configs",
      "name": "Emit county configs (Lee + Collier)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Two-branch parallel agent extraction — one item per county. Each county's\n// agent call gets its own credit budget, so a Lee scrape failure can't\n// silently consume the Collier budget too.\nreturn [\n  {\n    json: {\n      county: 'Lee',\n      urls: [\n        'https://www.leegov.com/dcd/planning',\n        'https://www.leegov.com/dcd/zoning'\n      ]\n    }\n  },\n  {\n    json: {\n      county: 'Collier',\n      urls: [\n        'https://www.colliercountyfl.gov/your-government/divisions-a-e/development-review',\n        'https://www.colliercountyfl.gov/your-government/divisions-a-e/zoning'\n      ]\n    }\n  }\n];"
      }
    },
    {
      "id": "agent",
      "name": "Firecrawl Agent — per county",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": {{ JSON.stringify($json.urls) }},\n  \"strictConstrainToURLs\": false,\n  \"prompt\": \"Extract recent planning commission and zoning board decisions for {{ $json.county }} County, Florida. For each decision, return: decision_date (ISO YYYY-MM-DD), decision_type (one of: approved, denied, deferred, withdrawn, continued), location (address or parcel), description (1-2 sentence summary), source_url (link to the staff report or agenda item PDF). Include only decisions issued in the last 90 days. Use null when a field is not available — never invent.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"rows\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"decision_date\":  { \"type\": [\"string\", \"null\"], \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\" },\n            \"decision_type\":  { \"type\": [\"string\", \"null\"] },\n            \"location\":       { \"type\": [\"string\", \"null\"] },\n            \"description\":    { \"type\": [\"string\", \"null\"] },\n            \"source_url\":     { \"type\": [\"string\", \"null\"] }\n          }\n        }\n      }\n    }\n  },\n  \"model\": \"spark-1-mini\",\n  \"maxCredits\": 1500\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_FIRECRAWL_CRED_ID",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "id": "shape",
      "name": "Merge counties + build NDJSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const now      = new Date();\nconst iso      = now.toISOString();\nconst yyyy     = String(now.getUTCFullYear());\nconst mm       = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst decisions = [];\nfor (const item of items) {\n  const county = item.json?.county ?? null;\n  const root   = item.json?.data?.result ?? item.json?.result ?? item.json;\n  const rows   = Array.isArray(root?.rows) ? root.rows : [];\n  for (const r of rows) {\n    decisions.push({\n      county,\n      decision_date:  r.decision_date ?? null,\n      decision_type:  r.decision_type ?? null,\n      location:       r.location ?? null,\n      description:    r.description ?? null,\n      source_url:     r.source_url ?? null,\n      _ingested_at:   iso\n    });\n  }\n}\nif (decisions.length === 0) {\n  throw new Error('Flow 5: zero decisions across both counties — investigate.');\n}\nconst ndjson = decisions.map(d => JSON.stringify(d)).join('\\n') + '\\n';\nconst bytes  = Buffer.byteLength(ndjson, 'utf-8');\nconst path   = `county-planning/year=${yyyy}/month=${mm}/lee-collier-${iso}.ndjson`;\nreturn [{\n  json: {\n    bucket:    'lake-tier1',\n    path,\n    full_id:   `lake-tier1/${path}`,\n    vintage:   `${yyyy}-${mm}-01`,\n    byte_size: bytes,\n    body:      ndjson,\n    decision_count: decisions.length\n  }\n}];"
      }
    },
    {
      "id": "put",
      "name": "Supabase Storage PUT lake-tier1/county-planning/...",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 320],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_PROJECT_REF.supabase.co/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-ndjson" },
            { "name": "x-upsert", "value": "true" },
            { "name": "Cache-Control", "value": "no-cache" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_JWT_CRED_ID",
          "name": "Supabase service-role JWT"
        }
      }
    },
    {
      "id": "inventory",
      "name": "Postgres UPSERT data_lake._tier1_inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1660, 320],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_lake._tier1_inventory (id, bucket, path, vintage, byte_size, pack_id, source_url, updated_at) VALUES ($1, $2, $3, $4::date, $5::bigint, NULL, NULL, now()) ON CONFLICT (id) DO UPDATE SET byte_size = EXCLUDED.byte_size, vintage = EXCLUDED.vintage, updated_at = now();",
        "options": {
          "queryReplacement": "={{ $node['Merge counties + build NDJSON'].json.full_id }},{{ $node['Merge counties + build NDJSON'].json.bucket }},{{ $node['Merge counties + build NDJSON'].json.path }},{{ $node['Merge counties + build NDJSON'].json.vintage }},{{ $node['Merge counties + build NDJSON'].json.byte_size }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_PG_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Monthly Cron (3rd of month, 14 UTC = 10 AM ET)": {
      "main": [
        [
          {
            "node": "Emit county configs (Lee + Collier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit county configs (Lee + Collier)": {
      "main": [
        [{ "node": "Firecrawl Agent — per county", "type": "main", "index": 0 }]
      ]
    },
    "Firecrawl Agent — per county": {
      "main": [
        [
          {
            "node": "Merge counties + build NDJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge counties + build NDJSON": {
      "main": [
        [
          {
            "node": "Supabase Storage PUT lake-tier1/county-planning/...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Storage PUT lake-tier1/county-planning/...": {
      "main": [
        [
          {
            "node": "Postgres UPSERT data_lake._tier1_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "_plan": "docs/superpowers/plans/2026-05-25-firecrawl-pipeline-skeleton/README.md (Part 5)",
    "_authoring_note": "Draft. Pre-flight: (1) Replace YOUR_PROJECT_REF in the Storage PUT URL. (2) Verify the county landing URLs in 'Emit county configs' are current — both Lee and Collier have reshuffled their planning sites before; if the agent returns zero rows, the URLs are stale. (3) pack_id is NULL — no consumer yet. The plan-of-record consumer is an env-swfl source connector update; promotion happens in that PR."
  }
}
