docs/n8n/workflows/news-daily.json
{
  "name": "SWFL — News daily (Flow 4, Tier 1 cold storage)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Daily Cron (11 UTC = 7 AM ET)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 320],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "sources",
      "name": "Emit news source URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// SWFL business news landing pages. The flow scrapes the landing page so\n// fresh article links are picked up — no per-article URL discovery in v1.\nconst sources = [\n  'https://gulfshoresbusiness.com',\n  'https://www.naplesnews.com/business/',\n  'https://www.news-press.com/business/',\n  'https://www.businessobserverfl.com',\n  'https://www.winknews.com/category/local/business/'\n];\nreturn sources.map(url => ({ json: { url } }));"
      }
    },
    {
      "id": "scrape",
      "name": "Firecrawl /v2/scrape — markdown per source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_FIRECRAWL_CRED_ID",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "id": "shape",
      "name": "Collect + dedupe + build NDJSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Flatten every scraped page into one NDJSON payload. Dedupe within the\n// batch by URL — landing pages occasionally re-render the same article in\n// the next-day window.\nconst now      = new Date();\nconst iso      = now.toISOString();\nconst yyyy     = String(now.getUTCFullYear());\nconst mm       = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst dd       = String(now.getUTCDate()).padStart(2, '0');\nconst seen     = new Set();\nconst articles = [];\nfor (const item of items) {\n  const data     = item.json?.data ?? item.json;\n  const md       = data?.markdown ?? '';\n  const metadata = data?.metadata ?? {};\n  const sourceUrl = metadata.sourceURL ?? metadata.url ?? item.json?.url ?? null;\n  const title     = metadata.title ?? null;\n  const published = metadata.publishedTime ?? metadata.article_published_time ?? null;\n  const domain    = sourceUrl ? new URL(sourceUrl).host : null;\n  if (!sourceUrl || seen.has(sourceUrl)) continue;\n  seen.add(sourceUrl);\n  articles.push({\n    url:           sourceUrl,\n    title,\n    published_date: published,\n    content_md:    md,\n    source_domain: domain,\n    _ingested_at:  iso\n  });\n}\nif (articles.length === 0) {\n  throw new Error('Flow 4: zero articles after dedupe — investigate.');\n}\nconst ndjson = articles.map(a => JSON.stringify(a)).join('\\n') + '\\n';\nconst bytes  = Buffer.byteLength(ndjson, 'utf-8');\nconst path   = `news/year=${yyyy}/month=${mm}/day=${dd}/run-${iso}.ndjson`;\nreturn [{\n  json: {\n    bucket:    'lake-tier1',\n    path,\n    full_id:   `lake-tier1/${path}`,\n    vintage:   `${yyyy}-${mm}-${dd}`,\n    byte_size: bytes,\n    body:      ndjson,\n    article_count: articles.length\n  }\n}];"
      }
    },
    {
      "id": "put",
      "name": "Supabase Storage PUT lake-tier1/news/...",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 320],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_PROJECT_REF.supabase.co/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-ndjson" },
            { "name": "x-upsert", "value": "true" },
            { "name": "Cache-Control", "value": "no-cache" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_JWT_CRED_ID",
          "name": "Supabase service-role JWT"
        }
      }
    },
    {
      "id": "inventory",
      "name": "Postgres UPSERT data_lake._tier1_inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1660, 320],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_lake._tier1_inventory (id, bucket, path, vintage, byte_size, pack_id, source_url, updated_at) VALUES ($1, $2, $3, $4::date, $5::bigint, NULL, NULL, now()) ON CONFLICT (id) DO UPDATE SET byte_size = EXCLUDED.byte_size, vintage = EXCLUDED.vintage, updated_at = now();",
        "options": {
          "queryReplacement": "={{ $node['Collect + dedupe + build NDJSON'].json.full_id }},{{ $node['Collect + dedupe + build NDJSON'].json.bucket }},{{ $node['Collect + dedupe + build NDJSON'].json.path }},{{ $node['Collect + dedupe + build NDJSON'].json.vintage }},{{ $node['Collect + dedupe + build NDJSON'].json.byte_size }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_PG_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Daily Cron (11 UTC = 7 AM ET)": {
      "main": [
        [{ "node": "Emit news source URLs", "type": "main", "index": 0 }]
      ]
    },
    "Emit news source URLs": {
      "main": [
        [
          {
            "node": "Firecrawl /v2/scrape — markdown per source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl /v2/scrape — markdown per source": {
      "main": [
        [
          {
            "node": "Collect + dedupe + build NDJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect + dedupe + build NDJSON": {
      "main": [
        [
          {
            "node": "Supabase Storage PUT lake-tier1/news/...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Storage PUT lake-tier1/news/...": {
      "main": [
        [
          {
            "node": "Postgres UPSERT data_lake._tier1_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "_plan": "docs/superpowers/plans/2026-05-25-firecrawl-pipeline-skeleton/README.md (Part 4)",
    "_authoring_note": "Draft. Pre-flight: (1) Replace YOUR_PROJECT_REF in the Supabase Storage PUT URL with your actual Supabase project ref (e.g. `abc123xyz.supabase.co` → use `abc123xyz`). (2) Confirm lake-tier1 bucket exists in Supabase Storage (created when the data-tier policy was adopted). (3) pack_id is NULL on the inventory row — no consumer yet, per the plan's Tier 1 cold-storage gate. Promotion to Tier 2 happens in a future PR that lands the consuming brain. (4) The Firecrawl Batch Scrape node mentioned in the plan was substituted for parallel /v2/scrape calls — same outcome, doesn't depend on a community-node operation name."
  }
}
